<!-- base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CK Real Estate{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
<div style="display: block">
    <header class="header">
        <div class="row">
            <div class="col-sm-2">
                <img src="{% static "images/logo.png" %}" class="logo" alt="logo" style="margin-left: 10px"/>
            </div>
            <div class="col-sm-8" style="margin-top: 50px; text-align: center; font-size: x-large; font-weight: bold">
                Welcome to CK Real Estate! <br>Explore our listings and discover your dream home today.
            </div>
            <div class="col-sm-2">
                <a class="btn admin-btn" style="float: right" href="{% url 'login' %}">Login</a>
            </div>
        </div>
    </header>
    <div class="row">
        <hr>
    </div>
    <div class="row" style="margin-top: 5px; margin-left: 50px;">

        <div class="menu">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><span>|</span></li>
                <li><a href="{% url 'all_listings' %}">All Listings</a></li>
                <li><span>|</span></li>
                <li>
                    <a href="#" class="btn-md">
                        Search All Listings
                    </a></li>
                <li><span>|</span></li>
                <li><a href="{% url 'profile' %}">Profile</a></li>
                <li><span>|</span></li>
                <li><a href="{% url 'omahalinks' %}">Omaha Links</a></li>
            </ul>
        </div>

    </div>

    <main>
        {% block content %}{% endblock %}
    </main>
<div>

    <footer style="text-align: center; bottom: 0; width: 100%;">
        <hr>
        <i class="fa fa-copyright" aria-hidden="true"></i>2024 All Listings, LLC. All rights reserved.
    </footer>
</div>


</div>
</body>
</html>