{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}CK Real Estate{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static "css/base2.css" %}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
      <header class="header">
            <div class="column">
            </div>
            <div class="column"> 
                <img src="{% static "images/logo.png" %}" class="logo" alt="logo" />
            </div>
              <div class="column">
                  <div class="menu" style="padding-bottom: 50px;">
                     <ul style="float: right">
                         {% if user.is_authenticated %}
                        <li>
                            <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn admin-btn">Log Out</button>
                            </form>
                        </li> 
                         {% else %}
                         <li><a href="{% url 'home' %}">Home</a></li> 
                         {% endif %}
                     </ul>
                     
                    </div>
                 
              </div>
      <div class="column">
              <h2>Welcome to the Admin Site!</h2>
            </div>
    </header>    
    <main style="margin-top: 50px">
     
        {% block content %}{% endblock %}
    </main>

    <footer style="text-align: center; bottom: 10px; width: 100%; position: fixed">
        <hr>
        <p>&copy; 2024 All Listings, LLC. All rights reserved.</p>
    </footer>
</body>
</html>