<!-- omahalinks.html -->

{% extends 'base.html' %}
{% load static %}
{% block title %}Omaha Links - CK Real Estate{% endblock %}

{% block content %}
    
    
    <div class="row" style="margin-top: 50px">
        <div class="col-sm-4">
            <img style="float: left; height: 300px; width: 400px; margin-left: 20px" src="{% static "images/downtownomaha.jpg" %}" />
        </div>
    </div>
       <div class="row" style="margin-top: 50px"> 
        <div class="col-sm-12">
            <img style="float: right; margin-right: 20px; height: 300px; width: 400px" src="{% static "images/things-to-do-in-omaha.jpg" %}" />
        </div>
       </div>
    
    <!-- Add your home page content here -->
{% endblock %}