{% extends 'base.html' %}
{% load static %}
{% block title %}Omaha Links - CK Real Estate{% endblock %}

{% block content %}

<div class="container">
    <div class="row" style="margin-top: 50px">
        <div class="col-sm-4">
            <img style="border-radius: 5px; height: 300px; width: 100%; object-fit: cover;" src="{% static 'images/downtownomaha.jpg' %}" />
        </div>
        <div class="col-sm-8">
            <div style="border: 2px solid #007bff; border-top-width: 40px; padding: 15px; margin-bottom: 20px; border-radius: 5px; position: relative; background-image: linear-gradient(to right, #e6e6e6 1%,#f2f2f2 99%)">
                <h3 style="font-weight:bold; font-size:20px; color:#f0f0f0; margin-top: -35px; position: absolute; top: 0; left: 0; right: 0; text-align: center;">
                    Things to Do in Omaha</h3>
                <ul style="list-style: none; padding-left: 0; text-align: left">
                    <li style="padding-bottom:1px;">
                        <p style="display: inline; color:dimgrey; font-size:17px">Casinos:</p>
                        <a style="font-size:15px; font-weight: bold; color:dimgrey; text-decoration: underline; display: inline;"
                           href="https://www.visitomaha.com/things-to-do/nightlife-and-entertainment/casinos">
                            visitomaha.com/things-to-do/nightlife-and-entertainment/casinos</a>
                    </li>
                    <li style="padding-bottom:1px;">
                        <p style="display: inline; color:dimgrey; font-size:17px">Free Activities:</p>
                        <a style="font-size:15px; font-weight: bold; color:dimgrey; text-decoration: underline; display: inline;"
                           href="https://www.visitomaha.com/things-to-do/attractions/free-things-to-do/">
                            visitomaha.com/things-to-do/attractions/free-things-to-do/</a>
                    </li>
                    <li style="padding-bottom:1px;">
                        <p style="display: inline; color:dimgrey; font-size:17px">Nightlife:</p>
                        <a style="font-size:15px; font-weight: bold; color:dimgrey; text-decoration: underline; display: inline;"
                           href="https://www.visitomaha.com/things-to-do/nightlife-and-entertainment/">
                            visitomaha.com/things-to-do/nightlife-and-entertainment/</a>
                    </li>
                    <li style="padding-bottom:1px;">
                        <p style="display: inline; color:dimgrey; font-size:17px">Zoo:</p>
                        <a style="font-size:15px; font-weight: bold; color:dimgrey; text-decoration: underline; display: inline;"
                           href="https://www.visitomaha.com/things-to-do/nightlife-and-entertainment/">
                            visitomaha.com/things-to-do/nightlife-and-entertainment/</a>
                    </li>
                    <li style="padding-bottom:1px;">
                        <p style="display: inline; color:dimgrey; font-size:17px">Outdoors:</p>
                        <a style="font-size:15px; font-weight: bold; color:dimgrey; text-decoration: underline; display: inline;"
                           href="https://www.visitomaha.com/things-to-do/nightlife-and-entertainment/">
                            visitomaha.com/things-to-do/nightlife-and-entertainment/</a>
                    </li>
                    <li style="padding-bottom:1px;">
                        <p style="display: inline; color:dimgrey; font-size:17px">Kids:</p>
                        <a style="font-size:15px; font-weight: bold; color:dimgrey; text-decoration: underline; display: inline;"
                           href="https://www.visitomaha.com/things-to-do/attractions/things-to-do-with-kids/">
                            visitomaha.com/things-to-do/attractions/things-to-do-with-kids/</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div class="row" style="margin-top: 50px">
        <div class="col-sm-8 order-sm-last">
            <div style="border: 2px solid #007bff; border-top-width: 40px; padding: 15px; margin-bottom: 20px; border-radius: 5px; position: relative; background-image: linear-gradient(to right, #e6e6e6 1%,#f2f2f2 99%)">
                <h3 style="font-weight:bold; font-size:20px; color:#f0f0f0; margin-top: -35px; position: absolute; top: 0; left: 0; right: 0; text-align: center;">Places to Eat in Omaha</h3>
                <ul style="list-style: none; padding-left: 0; text-align: left">
                     <li style="padding-bottom: 1px;">
                        <p style="display: inline; color:dimgrey; font-size:17px">Jinya Ramen Bar:</p>
                        <a style="font-weight: bold; font-size:15px; color:dimgrey; text-decoration: underline;"
                           href="https://www.jinyaramenbar.com/?utm_medium=yext&utm_source=gmb">
                            jinyaramenbar.com/</a>
                    </li>
                     <li style="padding-bottom:1px;">
                        <p style="display: inline; color:dimgrey; font-size:17px">Koji:</p>
                        <a style="font-size:15px; font-weight: bold; color:dimgrey; text-decoration: underline;"
                           href="https://www.izakayakoji.com/">
                            izakayakoji.com//</a>
                    </li>
                    <li style="padding-bottom:1px;">
                        <p style="display: inline; color:dimgrey; font-size:17px">801 Chophouse:</p>
                        <a style="font-size:15px; font-weight: bold; color:dimgrey; text-decoration: underline; display: inline;"
                           href="801chophouse.com/omaha/">801chophouse.com/omaha/</a>
                    </li>
                    <li>
                        <p style="display: inline; color:dimgrey; font-size:17px">La Sierra:</p>
                        <a style="font-size:15px; font-weight: bold; color:dimgrey; text-decoration: underline; display: inline;"
                           href="https://www.facebook.com/LaSierraDGOenOmaha/">https://www.facebook.com/LaSierraDGOenOmaha/</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4 order-sm-first">
            <img style="border-radius: 5px; height: 300px; width: 100%; object-fit: cover;" src="{% static 'images/things-to-do-in-omaha.jpg' %}" />
        </div>
    </div>
</div>

{% endblock %}