<!-- profile.html -->

{% extends 'base.html' %}
{% load static %}
{% block content %}
    
    <div class="container" style="margin-top: 20px">
    <div class="row">
        <div class="col-sm-4">
            {% for item in contact %} 
            <img style="float: left" src="{{ item.contact_profile_image.url }}" class="profile-pic" />
        </div>
        <div class="col-sm-8" style="align-content: center; padding-top: 20px; box-shadow: gray">
            <h3>Realtor:  Carlos Kosala</h3>
            
            <p style="word-wrap: break-word">{{ item.contact_profile_description }}</p>
             <ul style="list-style-type: none;">
                <li>CK Real Estate: {{ item.contact_website_link }}</li>
                <li>Office Address: {{ item.contact_office_street_address}}</li>
             <li>{{ item.contact_office_city}} , {{ item.contact_office_state }} &nbsp;{{ item.contact_office_zip_code }}</li>
            </ul>
       </div>
    {% endfor %}
        </div>
    <!-- Add your home page content here -->
{% endblock %}