{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}

    <div class="container" style="margin-top: 20px;">
        <div class="row">
            <div class="col-sm-4">
                {% if property_details.count > 0 %}
                    {% for item in property_details %}
                        <div class="text-center" style="margin-bottom:5%; margin-left: 10px;">
                            <img src="{{ item.property_photo1.url }}" class="home-pic" style="max-width: 105%; display: block;">
                        </div>
                        <a class="btn admin-btn btn-block" style="width:100%" href="{% url 'share_property' item.property_id %}">Click to Contact Realtor about Property</a>
                    {% endfor %}
                {% endif %}
            </div>
        
            <div class="col-sm-8">
                {% if property_details.count > 0 %}
                    {% for item in property_details %}
                        <input type="text" name="property_id" value="{{ item.property_id }}" hidden>
                        <div style="background-color: #eeeeee; padding: 1px; border-radius: 10px; margin-top:20px; margin-left: 30px; margin-bottom: 20px; width:65%;">
                            <h2 style="font-weight: bold; font-size: 40px; margin-bottom: 10px;">${{ item.property_price|intcomma }}</h2>
                            <p style="font-size: 20px; margin-bottom: 20px;">{{ item.property_street_address }}, {{ item.property_city }}, {{ item.property_state }} {{ item.property_zip_code }}</p>
                        </div>
                        
                        <div style="margin-left:30px; margin-top: 20px; word-wrap: break-word; margin-bottom: 20px;">
                            <p>{{ item.property_description }}</p>
                        </div>
                        
            </div>
        </div>  
                      
         <div class="row" style="margin-top: 50px">
                            <div class="flex-container mb-3" style="display:flex;">
                                <p style="background-color: #F0F0F0; padding: 5px; margin-right: 1px; border: 1px solid blue; align-content: center">{{ item.neighborhood }}</p>
                                <p style="background-color: #F0F0F0; padding: 5px; border: 1px solid blue; align-content: center">{{ item.home_type }}</p>
                                <p style="background-color: #F0F0F0; padding: 5px; border: 1px solid blue; align-content: center">Area: {{ item.property_area }}</p>
                                <p style="background-color: #F0F0F0; padding: 5px; border: 1px solid blue; align-content: center">Bedrooms: {{ item.property_bedroom_count }}</p>
                                <p style="background-color: #F0F0F0; padding: 5px; border: 1px solid blue; align-content: center">Bathrooms: {{ item.property_bathroom_count }}</p>
                                <p style="background-color: #F0F0F0; padding: 5px; border: 1px solid blue; align-content: center">Year Built: {{ item.property_year_built }}</p>
                            </div>
         </div>
        <div class="row" style="margin-top:10px;">

                                <div class="col-md-4">
                                    {%  if item.property_photo2  %}
                                    <img src="{{ item.property_photo2.url }}" class="img-fluid" style="width:100%; height: auto;" alt="Property Photo 2">
                                    {% endif %}
                                    </div>

                                 <div class="col-md-4">
                                     {%  if item.property_photo3  %}
                                     <img src="{{ item.property_photo3.url }}" class="img-fluid" style="width:100%; height: auto;" alt="Property Photo 3">
                                     {% endif %}
                                 </div>

                                <div class="col-md-4">
                                    {%  if item.property_photo4  %}
                                    <img src="{{ item.property_photo4.url }}" class="img-fluid" style="width:100%; height: auto;" alt="Property Photo 4">
                                    {% endif %}
                                </div>
        </div>
</div>

                    {% endfor %}
                {% endif %}
                <div class="row">
                    <div class="col-12">
                        <a class="btn" href="{% url 'all_listings' %}">Back to Property List</a>
                    </div>
                </div>
            </div>


{% endblock %}
