<!-- search-all-listings.html -->

{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}All Listings - CK Real Estate{% endblock %}

{% block content %}
    <div class="row">
        <form method="post" action="{% url 'search_all_listings' %}">
            {% csrf_token %}
            <div class= "col-sm-2" style="margin-left: 150px; margin-top: 30px; overflow-x:auto;">
                <select name="price_range_id" id="price_range_id" aria-label="Select Price Range" style="padding: 5px; border-radius: 5px">
                    <option value="">Select Price Range</option>
                    {% for item in property_price_range %}
                        <option value={{ item.price_range_id }} {% if selected_price_range == item %} selected {% endif %}>
                            {{ item.price_range_value }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class= "col-sm-2" style="margin-top: 30px; overflow-x:auto;">
                <select name="neighborhood_id" id="neighborhood_id" aria-label="Select Neighborhood" style="padding: 5px; border-radius: 5px">
                    <option value="">Select Neighborhood</option>
                    {% for item in property_neighborhood %}
                        <option value={{ item.neighborhood_id }} {% if selected_neighborhood == item %} selected {% endif %}>
                            {{ item.neighborhood_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div  class= "col-sm-2" style="margin-top: 30px; overflow-x:auto;">
                <select name="home_type_id" id="home_type_id" aria-label="Select Home Type" style="padding: 5px; border-radius: 5px">
                    <option value="">Select Home Type</option>
                    {% for item in property_home_type %}
                        <option value={{ item.property_type_id }} {% if selected_home_type == item %} selected {% endif %}>
                            {{ item.property_type_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class= "col-sm-2" style="margin-top: 30px; overflow-x:auto;">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" style="border-radius: 5px; width: 120px;">
                    Search
                </button>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-sm-10" style="margin-left: 150px; margin-top: 30px; overflow-x:auto;">
            <table class="table table-striped table-bordered" style="border: 5px solid blue;">
                {% if active_count > 0 %}

                    <thead>
                    <tr>
                        <th colspan="10"
                            style="text-align: center; background-color: blue; color: white; font-size: larger">All
                            Listings
                        </th>
                    </tr>
                    <tr>
                        <th colspan="3" scope="col">Property Title</th>
                        <th scope="col">Property Price</th>
                        <th scope="col">Neighborhood</th>
                        <th scope="col">Home Type</th>
                        <th scope="col">Status</th>
                        <th scope="col">See Details</th>
                    </tr>
                    </thead>
                    <tr>
                        <tbody>
                        {% for item in property %}
                            <input type="text" name="property_id" value="{{ item.property_id }}" hidden="hidden">
                            <td colspan="3">{{ item.property_title }} </td>
                            <td>${{ item.property_price|intcomma }} </td>
                            <td>{{ item.neighborhood }} </td>
                            <td>{{ item.home_type }} </td>
                            <td>{{ item.status }} </td>
                            <td>
                                <button style="background-color: blue; color: white;">See Details</button>
                            </td>
                            </tr>
                        {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="6" style="font-size: larger; width: 100%; text-align: center">No Listings to show,
                            check back soon!
                        </td>
                        <td></td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
            <div class="pagination" style="color: black">
    <span class="step-links">
        {% if property.has_previous %}
            <a href="?page=1" style="padding: 2px">&laquo; first &raquo;</a>
            <a href="?page={{ property.previous_page_number }}" style="padding: 2px>previous</a>
        {% endif %}

        <span class=" current">
            Page {{ property.number }} of {{ property.paginator.num_pages }}
        </span>

                {% if property.has_next %}
                    <a href="?page={{ property.next_page_number }}" style="padding: 2px">next</a>
                    <a href="?page={{ property.paginator.num_pages }}" style="padding: 2px"> &laquo; last &raquo;</a>
                {% endif %}
                </span>
            </div>
        </div>
    </div>

{% endblock %}