<!-- share-property.html -->

{% extends 'base.html' %}
{% block title %}Request Information{% endblock %}
{% block content %}
  {% if sent %}
    <h1>Request information email successfully sent</h1>
    <p>
      "{{ property.title }}" was successfully sent to Carlos Kosalas.
    </p>
  {% else %}
    <h1>Share "{{ property.title }}" by e-mail</h1>
    <form method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <input type="submit" value="Send e-mail">
    </form>
  {% endif %}
{% endblock %}