{% extends 'base2.html' %}
{% block content %}
    <hr>
<div class="row">
    <p style="float: right; margin-right: 20px;"> <a href="#" class="btn btn-info" style="background-color: blue; font-size: large; width: 200px;">Update Profile</a></p>
</div>
    
<div class="row" style="margin-top: 100px">
  <div class="col-sm-4"> 
       <p style="margin-left: 20px"> <a href="add_property" class="btn btn-info" style="background-color: blue; font-size: large; height: 40px; width: 200px;">Add Property</a></p>
  </div>
  <div class="col-sm-4">
        <p></p>
   </div>
   <div class="col-sm-4">
      <p style="margin-right: 20px; float: right">  <a href="#" class="btn btn-info" style="background-color: blue; font-size: large; width: 200px;">Reports</a></p>
    </div>
</div>
<div class="row">
<div class="col-sm-6" style="margin-left: 200px; margin-top: 30px">
<table class="table table-striped">
      {% if property.count != 0 %}
         {% for item in property %}
             
             <th>All Properties</th>
             <tr>
             <td>Property ID</td><td>Property Title</td>
             </tr>
        <tr>
           <tbody> 
               <td>{{ item.property_id }} </td>
        <td>{{ item.property_title }} </td>
            
        </tr>
         {% endfor %}
     {% else %}
        <tr>
        <td style="width: 780px"></td>
        <td colspan="6" style="font-size: larger">No Listings in Database</td>
        <td></td>
        </tr>
{% endif %}
</table>
</div>
</div>
{% endblock content%}