{% extends 'base2.html' %}
{% block content %}
    <hr>
<div class="row">
    <p style="float: right; margin-right: 20px;"> <a href="#" class="btn btn-info" style="background-color: blue; font-size: large; width: 200px;">Update Profile</a></p>
</div>
    
<div class="row" style="margin-top: 100px">
  <div class="col-sm-4"> 
       <p style="margin-left: 20px;">
            <a href="{% url 'add_property' %}" class="btn btn-info" style="background-color: blue; font-size: large; height: 40px; width: 200px;">Add Property</a>
       </p>
  <div class="col-sm-4">
        <p></p>
   </div>
   <div class="col-sm-4">
      <p style="margin-right: 20px; float: right">  <a href="#" class="btn btn-info" style="background-color: blue; font-size: large; width: 200px;">Reports</a></p>
    </div>
</div>
<div class="row">
<div class="col-sm-10" style="margin-left: 200px; margin-top: 30px">
      <table class="table table-striped">
      {% if property.count != 0 %}
         
             
            <thead>
    <tr>
      <th scope="col">Property ID</th>
      <th colspan="3" scope="col">Property Title</th>
        <th scope="col">Property Price</th>
        <th scope="col">Neighborhood</th>
         <th scope="col">Home Type</th>
         <th scope="col">Featured</th>
        <th scope="col">Status</th>
        <th scope="col">Update</th>
    </tr>
  </thead>
        <tr>
           <tbody> 
           {% for item in property %}
               <td>{{ item.property_id }} </td>
        <td colspan="3">{{ item.property_title }} </td>
          <td>${{ item.property_price }} </td>   
        <td>{{ item.neighborhood }} </td>
         <td>{{ item.home_type }} </td>
          <td>
            <input type="checkbox" class="styled-checkbox" name="full_timer" id="fullTimer" style="margin-left: 25px"  {% if item.property_featured == True %} checked="checked" {% endif %} disabled>
          </td>     
          <td>{{ item.status }} </td>
          <td><button style="background-color: blue; color: white;">Update</button></td>
        </tr>
         {% endfor %}
      {% else %}
        <tr>
        <td style="width: 780px"></td>
        <td colspan="6" style="font-size: larger">No Listings in Database</td>
        <td></td>
        </tr>
{% endif %}
</table>
</div>
</div>
{% endblock content%}