<!-- siteadminlanding.html -->

{% extends 'base2.html' %}
{% load humanize %}
{% block title %}Site Admin Home - CK Real Estate{% endblock %}
{% block content %}
    <hr>
<div class="row">
    <p style="float: right; margin-right: 20px;"> <a href="{% url 'update_profile' %}" class="btn site-admin-btn" style="color: floralwhite;">Update Profile</a></p>
</div>
    
<div class="row" style="margin-top: 50px">
  <div class="col-sm-4"> 
       <p style="margin-left: 100px;">
            <a href="{% url 'add_property' %}" class="btn site-admin-btn" style="color: floralwhite;">Add Property</a>
       </p>
  </div>
   <div class="col-sm-4">
        <p></p>
   </div>
    <div class="col-sm-3">
      <p style="overflow-x: auto; float: right">  <a href="{% url 'siteadminreports' %}" class="btn site-admin-btn" style="color: floralwhite;">Reports</a></p>
    </div>
</div>

<div class="row" style="overflow-x: auto">
<div class="col-sm-10" style="margin-left: 120px; float: left; margin-top: 30px;">
    <p style="font-size: large"> <b>To update a Property</b> make edits within the row of the property 
            you would like to update. You can update the price, status, mark as featured or unmark, and/or 
        remove the property from the site. Once your edits are complete, click the button <b>'Click to Update'</b> 
        for the row you edited.
        </p>
   
<div style="overflow-x: auto">
 <table class="table table-striped table-bordered" style="border: 5px solid #0073e5;">
      {% if property.count != 0 %}
         
     <thead>
      <tr>
            <th colspan="11" style="text-align: center; background-color: #0073e5; color: white; font-size: 18pt;">All Listings</th>
        </tr>
    <tr>
      <th scope="col">ID</th>
      <th colspan="3" scope="col" style="width: 25%">Property Title</th>
        <th scope="col" style="width: 8%">Property Price
         <a href="?qSortBy=property_price&qSortDir=asc">&#x25B2;</a>
            <a href="?qSortBy=property_price&qSortDir=desc">&#x25BC;</th>
        <th scope="col" style="width: 16%">Neighborhood
         <a href="?qSortBy=neighborhood__neighborhood_name&qSortDir=asc">&#x25B2;</a>
            <a href="?qSortBy=neighborhood__neighborhood_name&qSortDir=desc">&#x25BC;</th>
        <th scope="col" style="width: 17%">Home Type
         <a href="?qSortBy=home_type__property_type_name&qSortDir=asc">&#x25B2;</a>
            <a href="?qSortBy=home_type__property_type_name&qSortDir=desc">&#x25BC;</th>
         <th scope="col" style="width: 13%">Featured
          <a href="?qSortBy=property_featured&qSortDir=asc">&#x25B2;</a>
            <a href="?qSortBy=property_featured&qSortDir=desc">&#x25BC;</th>
        <th scope="col" style="width: 10%">Status
         <a href="?qSortBy=status__property_status_name&qSortDir=asc">&#x25B2;</a>
            <a href="?qSortBy=status__property_status_name&qSortDir=desc">&#x25BC;</th>
        <th scope="col" style="width: 16%">Active
         <a href="?qSortBy=property_active&qSortDir=asc">&#x25B2;</a>
            <a href="?qSortBy=property_active&qSortDir=desc">&#x25BC;</th>
        <th colspan="2" scope="col" style="width: 10%">Click to Update</th>
    </tr> 
  </thead>
      <tbody>
       {% for obj in property %}
        <tr>
        <form method="post"> 
        {% csrf_token %}
           
          
               <td> <input type="text" name="property_id" value="{{ obj.property_id }}" hidden="hidden" >{{ obj.property_id }}  </td>
          <td colspan="3">{{ obj.property_title }} </td> 
        
               <td style="width: 5%">
                   <input type="text" name="price" style="border-color: blue; background: inherit;" value="{{ obj.property_price|intcomma }}" >
               </td>
          <td>{{ obj.neighborhood }} </td>
         <td>{{ obj.home_type }} </td>
         <td>
            <input type="checkbox" class="styled-checkbox" name="featured" id="featured" style="margin-left: 25px"  {% if obj.property_featured == True %} checked="checked" {% endif %}  onclick="onClickHandler()">
          </td>     
          <td>
              <select name="status" style="border: none; background: inherit">
               {% for item in status %}
                    <option value="{{ item.property_status_id }}" {% if obj.status|lower == item.property_status_name|lower %} selected {% endif %}>
                    {{ item.property_status_name }}</option>
               {% endfor %}
                  </select>
          </td>
               <td>
                <input type="checkbox" class="styled-checkbox" name="active" style="margin-left: 25px"  {% if obj.property_active == True %} checked="checked"  {% endif %} >

               </td>
               <td>
                
                    <button type="submit" class="site-admin-btn">Click to Update</button>
                    
                   
          </td>
        
       </form>
        </tr>
         {% endfor %}
      {% else %}
        <tr>
        <td style="width: 780px"></td>
        <td colspan="6" style="font-size: larger">No Listings in Database</td>
        </tr> 
{% endif %}
</table> 

	<div class="pagination" style="color: black">
    <span class="step-links">
        {% if property.has_previous %}
            <a href="?page=1" style="padding: 2px">&laquo; first &raquo;</a>
            <a href="?page={{ property.previous_page_number }}" style="padding: 2px>previous</a>
        {% endif %}

        <span class="current">
            Page {{ property.number }} of {{ property.paginator.num_pages }}
        </span>

        {% if property.has_next %}
            <a href="?page={{ property.next_page_number }}" style="padding: 2px">next</a>
            <a href="?page={{ property.paginator.num_pages }}" style="padding: 2px"> &laquo; last &raquo;</a>
        {% endif %}
    </span>
   </div>
</div>
</div>
</div>

    <script>
    function onClickHandler(){
    var chk=document.getElementById("featured").value;
}
    </script>
{% endblock content%}